<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5021.myWindowsHosting.com;Initial Catalog=DB_A0A36A_ajaysskumar;User Id=DB_A0A36A_ajaysskumar_admin;Password=oa0049@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IOT;User Id=sa;Password=admin@123;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=6e7f98f6-ca3b-421b-b927-a65c00b12b90.sqlserver.sequelizer.com;Initial Catalog=db6e7f98f6ca3b421bb927a65c00b12b90;User Id=rmpcsyazqmfphpig;Password=tpJHMTKCiR2AbByiByrr2esHbVEr7ow85Zo5tso52g7beG4mefiZtcvp5bFYosE3;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <!--<add name="DefaultConnection" connectionString="Data Source=iotsomeedb.mssql.somee.com;Initial Catalog=iotsomeedb;User Id=ajaysskumar_SQLLogin_1;Password=ubwy5vurm8;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>