<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=SQL5021.myWindowsHosting.com;Initial Catalog=DB_A0A36A_ajaysskumar;User Id=DB_A0A36A_ajaysskumar_admin;Password=oa0049@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IOT;User Id=sa;Password=admin@123;" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=6e7f98f6-ca3b-421b-b927-a65c00b12b90.sqlserver.sequelizer.com;Initial Catalog=db6e7f98f6ca3b421bb927a65c00b12b90;User Id=rmpcsyazqmfphpig;Password=tpJHMTKCiR2AbByiByrr2esHbVEr7ow85Zo5tso52g7beG4mefiZtcvp5bFYosE3;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Server=tcp:onactuateiot.database.windows.net,1433;Initial Catalog=IoTDb;Persist Security Info=False;User ID=ajaysskumar;Password=oa0049@123;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>