<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=6e7f98f6-ca3b-421b-b927-a65c00b12b90.sqlserver.sequelizer.com;Initial Catalog=db6e7f98f6ca3b421bb927a65c00b12b90;User Id=rmpcsyazqmfphpig;Password=tpJHMTKCiR2AbByiByrr2esHbVEr7ow85Zo5tso52g7beG4mefiZtcvp5bFYosE3;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>